Source: joulupukki-dispatcher
Maintainer: Thibault Cohen <titilambert@gmail.com>
Section: net
Priority: extra
Vcs-Git: https://github.com/jlpk/joulupukki-dispatcher.git
Vcs-Browser: https://github.com/jlpk/joulupukki-dispatcher
Standards-Version: 3.9.6
XS-Python-Version: >= 2.5, << 2.8
Build-Depends: python, debhelper (>= 9), quilt, python-sphinx, python-pbr, python-setuptools
Homepage: https://github.com/jlpk/joulupukki-dispatcher

Package: joulupukki-dispatcher
Architecture: any
Depends: joulupukki-common, python, python-pecan, python-git, python-yaml, ${misc:Depends}
Description: Joulupukki Dispatcher
