*.pyc

# Packages
*.egg
*.egg-info
AUTHORS
ChangeLog

# documentation
docs/build
docs/source/_build

# tests
.tox
env/
*/env/
.testrepository
*.swp

# ide
.project
.pydevproject

# vim
*~

# Project tmp folders
/tmp/
/ccache/
/output/




# Logs
web/logs/*
web/*.log
web/*.orig

!.gitkeep
web/node_modules/
web/bower_components/
web/tmp
web/.DS_Store
web/.idea
*.swp
*.swo
web/app/assets/css
web/.sass-cache/
web/out/
web/build/
/api/build/
/worker/build/
/common/build/
web/app/build/
