*.pyc

# Packages
*.egg
*.egg-info
AUTHORS
ChangeLog

# documentation
docs/build
docs/source/_build

# tests
.tox
env/
*/env/
.testrepository
*.swp

# ide
.project
.pydevproject

# vim
*~
*.swp
*.swo


# Project tmp folders
/tmp/
/ccache/
/output/
/build/


!.gitkeep
