<div class="container"  id="account">
  <div class="row">
    <div class="col-xs-3">
      <div>
        <a href="#/account/">{{ name }}</a>
      </div>
      <div>
        <ul>
          <li ng-repeat="org in orgs" >
            <a href="#/account/{{ org.login }}">{{ org.login }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <div>
        {{ name }}
        {{ username }}
      </div>
      <div>
        <ul>
          <li ng-repeat="repo in repos">
            <a href="{{ repo.html_url }}" >{{ repo.full_name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
