<div  id="topbar" ng-controller="TopBarCtrl">
  <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar md-default-theme">
    <div class="md-toolbar-tools docs-toolbar-tools">
      <div layout="row" flex="" class="fill-height">
        <md-button href="#/repositories" class="md-fab md-mini" aria-label="joulupukki">
          <md-icon md-svg-src="assets/images/jlpk_logo_barb_24.svg"></md-icon>
        </md-button>
        <h2>
          <a href="#/repositories">Joulupukki</a>
        </h2>
        <span flex></span>
        <md-button ng-if="! username" class="md-raised" href="#/auth">
            Login
        </md-button>
        <md-menu md-position-mode="target-right target" ng-if="username">
          <md-button md-menu-origin ng-click="$mdOpenMenu()">
            {{ username }}
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button href="#/account/{{ username }}/profile">
                <p md-menu-align-target>Profile</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="#/account/{{ username }}/Repositories">
                <p md-menu-align-target>Repositories</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="#/auth/logout">
                <p md-menu-align-target>Logout</p>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </md-toolbar>
<!-- 
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/repositories">
          <img alt="joulupukki" src="assets/images/jlpk_logo.svg">
        </a>
      <a class="navbar-brand" href="#/repositories">Joulupukki</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Status</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <div class="navbar-form navbar-right" ng-if="! username">
        <a href="#/auth" class="btn btn-success">Login</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="username" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account/{{ username }}/profile">Profile</a></li>
            <li><a href="#/account/{{ username }}/repositories">Repositories</a></li>
            <li class="divider"></li>
            <li><a href="#/auth/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
-->
</div>

