Source: joulupukki-web
Maintainer: Thibault Cohen <titilambert@gmail.com>
Section: net
Priority: extra
Vcs-Git: https://github.com/jlpk/joulupukki-web.git
Vcs-Browser: https://github.com/jlpk/joulupukki-web
Standards-Version: 3.9.6
XS-Python-Version: >= 2.5, << 2.8
Build-Depends: debhelper (>= 9), quilt, npm, ruby-sass
Homepage: https://github.com/jlpk/joulupukki-web

Package: joulupukki-web
Architecture: any
Description: Joulupukki Web
