#!/usr/bin/make -f


%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:
	npm install grunt-cli
	npm install
	ls app/
	ls app/bower_components/
	ls app/bower_components/bootstrap-sass-official
	ls app/bower_components/bootstrap-sass-official/assets/
	ls app/bower_components/bootstrap-sass-official/assets/stylesheets/
	node_modules/grunt-cli/bin/grunt build

override_dh_install:
	dh_install
