<nav ng-app="joulupukki.topbar" id="topbar" class="navbar navbar-default" role="navigation" ng-controller="TopBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/repositories">
          <img alt="joulupukki" src="assets/images/jlpk_logo.svg">
        </a>
      <a class="navbar-brand" href="#/repositories">Joulupukki</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Status</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Username<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Account</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
