<div class="data-main row" ng-controller="MainCtrl">

<div class="spacer col-xs-0 col-md-1">
</div>


<div class="col-xs-12 col-md-11">

  <header>
    <h1>{{ selected_project.username }}/{{ selected_project.name }}</h1>
  </header>

  <section>
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{ 'active': selected_tab == 'project' }">
        <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/">
          Current
        </a>
      </li>
      <li role="presentation" ng-class="{ 'active': selected_tab == 'history' }">
        <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/builds">
          Build History
        </a>
      </li>
      <li ng-if="build.id_" role="presentation" ng-class="{ 'active': selected_tab == 'build' }">
        <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}">Build #{{ build.id_ }}
        </a>
      </li>
      <li ng-if="build.id_ && ! job.id_" role="presentation" ng-class="{ 'active': selected_tab == 'download' }">
        <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/output">Download
        </a>
      </li>
      <li ng-if="job.id_" role="presentation" ng-class="{ 'active': selected_tab == 'job' }">
        <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/jobs/{{ job.id_ }}">Job #{{ build.id_ }}.{{ job.id_ }}
        </a>
      </li>
    </ul>

    <section class="tile-build container-fluid" ng-if="selected_tab == 'build' || selected_tab == 'project'">
      <div class="row tile">
        <div class="col-xs-1 col-sm-1 col-md-1 tile-status tile-status-{{ build.status }}">
          <i ng-if="build.status == 'succeeded'" class="fa fa-check-circle {{ build.status }}"></i>
          <i ng-if="build.status == 'failed'" class="fa fa-exclamation-circle {{ build.status }}"></i>
          <i ng-if="build.status != 'failed' && build.status != 'succeeded'" class="fa fa-ellipsis-h {{ build.status }}"></i>
        </div>
        <div class="row col-xs-11 col-sm-11 col-md-11">
          <div class="col-xs-12 col-sm-12 col-md-9 tile-main">
            <i class="fa fa-gift"></i>
            <ul>
              <li>
                Source package name: {{ build.package_name }}
              </li>
              <li>
                Version: {{ build.package_version }}-{{ build.package_release }}
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 tile-info">
            <ul>
              <li>
                <span class="hash"></span>
                <a class="{{ build.status }}" href="#/home/{{ project.username }}/{{ project.name }}/builds/{{ build.id_ }}">{{ build.id_ }} {{ build.status }}</a>
              </li>
              <li ng-if="build.forced_distro" >
                <i class="fa fa-linux"></i>
                {{ build.forced_distro }}
              </li>
              <li>
                <i class="fa fa-clock-o"></i>
                <abbr class="duration" title="{{ build.created }}">
                  Run for {{ build.created | timeElapsed: build.finished }}
                </abbr>
              </li>
              <li>
                <i class="fa fa-calendar"></i>
                <abbr class="finished_at timeago">
                  <span ng-if="build.finished">
                    {{ build.finished | timeElapsed }}
                  </span>
                  <span ng-if="! build.finished">
                    -
                  </span>
                </abbr>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <section ng-if="selected_tab == 'history'">
        <div>
          <li ng-repeat="build in selected_project.builds" class="build {{ build.status }}">
                <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}">{{ build.id_ }}</a>
          </li>
    </section>
  </section>

  <section id="output" ng-if="selected_tab == 'output'" class="output">
    <h2>Build Output</h2>
    <h3 ng-if="! output">No output</h3>
    <ul ng-if="output">
      <li>
        Download all: 
        <a href="/v3/users/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/download/archive?type=tgz">(tgz)</a>
        <a href="/v3/users/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/download/archive?type=zip">(zip)</a>
      </li>
      <li ng-if="files" ng-repeat="(folder, files) in output" >
        {{ folder }}
        <a href="/v3/users/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/download/archive?distro={{ folder }}&type=tgz">(tgz)</a>
        <a href="/v3/users/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/download/archive?distro={{ folder }}&type=zip">(zip)</a>
        <ul>
          <li ng-repeat="file in files">
            <a href="/v3/users/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/download/file?distro={{ folder }}&filename={{ file }}">{{ file }}</a>
            <i ng-if="(file.endsWith('.rpm') && ! file.endsWith('.src.rpm') )|| file.endsWith('.deb')" class="fa fa-gift"></i>

          </li>
        </ul>
      </li>
    </ul>
  </section>


  <section id="log-container" ng-if="selected_tab == 'job'" class="tile-job container-fluid">
      <div class="row tile">
        <div class="col-xs-1 col-sm-1 col-md-1 tile-status tile-status-{{ build.status }}">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="row col-xs-11 col-sm-11 col-md-11">
          <div class="col-xs-12 col-sm-12 col-md-9 tile-main">
            <i class="fa fa-gift"></i>
            <ul>
              <li>
                Source package name: {{ build.package_name }}
              </li>
              <li>
                Version: {{ build.package_version }}-{{ build.package_release }}
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 tile-info">
            <ul>
              <li>
                <span class="hash"></span>
                <a class="{{ job.status }}" href="#/home/{{ job.username }}/{{ job.project_name }}/builds/{{ build.id_ }}/jobs/{{ job.id_ }}">{{ build.id_ }}.{{ job.id_ }}  {{ job.status }}</a>
              </li>
              <li >
                <i class="fa fa-linux"></i>
                {{ job.distro }}
              </li>
              <li>
                <i class="fa fa-clock-o"></i>
                <abbr class="duration" title="{{ build.created }}">
                  Run for {{ job.created | timeElapsed: job.finished }}
                </abbr>
              </li>
              <li>
                <i class="fa fa-calendar"></i>
                <abbr class="finished_at timeago">
                  <span ng-if="build.finished">
                    {{ job.finished | timeElapsed }}
                  </span>
                  <span ng-if="! build.finished">
                    -
                  </span>
                </abbr>
              </li>
            </ul>
          </div>
        </div>
      </div>




    <h2>Build Job {{job.build_id}}.{{ job.id_ }} log</h2>
    <menu class="log-header">
<!--      <a href="#" class="button button-grey open-popup" data-ember-action="1469"><span class="icon icon-removeLog"></span> Remove Log</a> -->
      <a class="button button--grey" href="#/home/{{selected_project.username}}/{{ selected_project.name }}/builds/{{ job.build_id }}/jobs/{{ job.id_ }}/log" data-bindattr-1465="1465">
            <span class="icon icon--downloadLog"></span> Download Log
      </a>
    </menu>
    <div class="log-body">
      <pre id="log" class="ansi">
        {{ joblog }}
      </pre>
      <a href="" class="to-top" data-ember-action="1703" style="bottom: 4195px;">Top</a>
    </div>        
  </section>






  <section ng-if="selected_tab == 'build' || selected_tab == 'project'" class="jobs">
    <h2>Build Jobs</h2>
    <ul>
      <li ng-repeat="job in build.jobs" class="job row {{ job.status }}">
        <a href="#/home/{{ selected_project.username }}/{{ selected_project.name }}/builds/{{ build.id_ }}/jobs/{{ job.id_}}" >
        <div class= "col-md-4 row">
          <div class="col-md-1">
            <i ng-if="job.status == 'succeeded'" class="fa fa-check {{ job.status }}"></i>
            <i ng-if="job.status == 'failed'" class="fa fa-exclamation {{ job.status }}"></i>
            <i ng-if="job.status != 'failed' && job.status != 'succeeded'" class="fa fa-ellipsis-h {{ job.status }}"></i>
          </div>
          <div class="col-md-10">
            <span class="hash"></span>
            <span class="{{ job.status }}" >
              {{ build.id_ }}.{{ job.id_ }}
            </span>
          </div>
        </div>

        <div class="col-md-3 row">
          <div class="col-md-1">
             <i class="fa fa-linux"></i>
          </div>
          <div class="col-md-10">
                {{ job.distro }}
          </div>
        </div>
         

        <div class="col-md-3 row">
          <div class="col-md-1">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="col-md-10">
              {{ job.build_time | timeElapsed : 0}}
          </div>
        </div>
      </a>
      </li>
    </ul>
  </section>

</div>
</div>
