Source: joulupukki-worker
Maintainer: Thibault Cohen <titilambert@gmail.com>
Section: net
Priority: extra
Vcs-Git: https://github.com/jlpk/joulupukki-worker.git
Vcs-Browser: https://github.com/jlpk/joulupukki-worker
Standards-Version: 3.9.6
XS-Python-Version: >= 2.5, << 2.8
Build-Depends: python, debhelper (>= 9), quilt, python-sphinx, python-pbr, python-setuptools, python-sphinxcontrib-pecanwsme
Homepage: https://github.com/jlpk/joulupukki-worker

Package: joulupukki-worker
Architecture: any
Depends: joulupukki-common, python, python-pecan, python-wsme, python-docker, python-git, ${misc:Depends}
# deb-pkg-tools
Description: Joulupukki Worker
